<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smbms.dao.RoleDao">
    <resultMap id="roleResult" type="Role">
        <id property="id" column="id"/>
        <result property="roleName" column="roleName"/>
        <collection property="users" ofType="User">
            <result property="userName" column="userName"/>
            <result property="userCode" column="userCode"/>
            <result property="userPassword" column="userPassword"/>
        </collection>
    </resultMap>
    <select id="findRoleById" resultMap="roleResult">
         select r.* from smbms_role r inner join smbms_user u on u.userRole = r.id where r.id =#{id};
    </select>
    <select id="findAllRoles" resultType="com.smbms.pojo.Role">
        select * from smbms_role
    </select>
</mapper>